*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.iml
*.ipr
*.iws
.idea/
/build/
/dist/
/out/
go.work
/bin/

# Temporary Local CAS Network Stores
*_network/
store/store/

# Secret API Keys & OAuth Tokens (Render Secret Environment)
credentials.json
token.json